/* Whop Brand Font - FFF Acid Grotesk */
@font-face {
  font-family: 'FFF Acid Grotesk';
  src: url('/whop-assets/fonts/FFF-AcidGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FFF Acid Grotesk';
  src: url('/whop-assets/fonts/FFF-AcidGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FFF Acid Grotesk';
  src: url('/whop-assets/fonts/FFF-AcidGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FFF Acid Grotesk';
  src: url('/whop-assets/fonts/FFF-AcidGrotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

